<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link th:href="@{/main.css}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>

<body>
    <div class="h-screen">
        <img class="absolute h-screen -z-10 w-screen" th:src="@{'/images/bg_image.png'}" alt="AOT">
        <div class="w-full h-full p-8">



            <div class="grid grid-cols-1 gap-8">
                <div class="rounded-lg bg-white p-8 flex justify-between items-center">
                    <div class="flex flex-col justify-center items-center">
                        <img class="w-[200px] h-[90px]" th:src="@{'/images/aot.png'}" alt="AOT">
                    </div>

                    <div class="text-[24px] flex items-center gap-4" style="font-family: 'Press Start 2P', cursive;">
                        <span>Welcome, <span th:text="${username}"> User</span></span>
                        <form th:action="@{/logout}" method="post">
                            <button type="submit"
                                class="bg-slate-300 hover:bg-red-500 text-black hover:text-white px-4 py-2 rounded hover:rounded-lg">Logout</button>
                        </form>
                    </div>
                </div>
                <!-- <div class="text-[48px] font-bold text-blue-500 text-center drop-shadow-[2px_2px_0px_#000000]">
                    Retro Text!
                </div> -->
                <!-- <div class="text-[32px] text-green-400 text-center" style="font-family: 'Press Start 2P', cursive;">
                    RETRO VIBES
                </div>
                <div class="text-[40px] text-center text-pink-400 font-bold"
                    style="text-shadow: 0 0 5px #FF00FF, 0 0 10px #FF00FF, 0 0 20px #FF00FF;">
                    Neon Retro Text
                </div> -->

                <!-- <form th:action="@{/logout}" method="post">
                    <button type="submit" class="bg-red-500 text-blue-800 px-4 py-2 rounded">Logout</button>
                </form> -->
                <!-- <div class="py-8">
                    <p>Componemt Button</p>
                    <div class="flex items-center gap-2">
                        <a href="/management" class="btn btn-primary">Go to Management</a>
                        <a class="link rounded-sm px-8 py-3 bg-indigo-600 text-white text-sm"
                            th:href="@{/management}">Go To
                            Management</a>
                        <a class="link rounded-sm px-8 py-3 bg-indigo-600 text-white text-sm" th:href="@{/arrival}">Go
                            To
                            Arrival</a>
                        <a class="link rounded-sm px-8 py-3 bg-indigo-600 text-white text-sm" th:href="@{/departure}">Go
                            To
                            Departure</a>
                        <div class="">
                            <span th:replace="fragments/button :: button('Go To Management', '/management')"></span>
                        </div>
                        <div class="">
                            <span
                                th:replace="fragments/button :: button_change('Go To Management', '/management')"></span>
                            <span th:replace="fragments/button :: button_change('Go To Arrival', '/arrival')"></span>
                            <span
                                th:replace="fragments/button :: button_change('Go To Departure', '/departure')"></span>
                        </div>
                    </div>

                </div> -->
                <div class="rounded-lg bg-white p-4">
                    <div class="grid grid-cols-10 gap-4 text-center text-[20px]">
                        <a th:href="@{/management}"
                            class="col-span-2 h-full hover:bg-pink-500 text-blue-500 hover:text-green-200 hover:rounded-lg overflow-hidden relative cursor-pointer">
                            <span
                                class="text-[24px] font-bold text-center drop-shadow-[2px_2px_0px_#000000]">Management</span>
                            <div>
                                <img class="transition-transform duration-500 hover:scale-110 w-full h-auto grayscale hover:grayscale-0"
                                    th:src="@{'/images/image_poster/2.png'}" alt="AOT">
                            </div>
                        </a>
                        <a th:href="@{/arrival?airportCode=BKK}"
                            class="col-span-2 h-full hover:bg-pink-500 text-blue-500 hover:text-green-200 hover:rounded-lg overflow-hidden relative cursor-pointer">
                            <span class="text-[24px] font-bold text-center drop-shadow-[2px_2px_0px_#000000]">Arrival
                                Flight</span>
                            <div>
                                <img class="transition-transform duration-500 hover:scale-110 w-full h-auto grayscale hover:grayscale-0"
                                    th:src="@{'/images/image_poster/3.png'}" alt="AOT">
                            </div>
                        </a>
                        <a th:href="@{/departure?type=flight&airportCode=BKK}"
                            class="col-span-2 h-full hover:bg-pink-500 text-blue-500 hover:text-green-200 hover:rounded-lg overflow-hidden relative cursor-pointer">
                            <span class="text-[24px] font-bold text-center drop-shadow-[2px_2px_0px_#000000]">
                                Departure Flight</span>
                            <div>
                                <img class="transition-transform duration-500 hover:scale-110 w-full h-auto grayscale hover:grayscale-0"
                                    th:src="@{'/images/image_poster/5.png'}" alt="AOT">
                            </div>
                        </a>
                        <a th:href="@{/departure?type=gate&airportCode=BKK}"
                            class="col-span-2 h-full hover:bg-pink-500 text-blue-500 hover:text-green-200 hover:rounded-lg overflow-hidden relative cursor-pointer">
                            <span class="text-[24px] font-bold text-center drop-shadow-[2px_2px_0px_#000000]">
                                Departure Gate</span>
                            <div>
                                <img class="transition-transform duration-500 hover:scale-110 w-full h-auto grayscale hover:grayscale-0"
                                    th:src="@{'/images/image_poster/4.png'}" alt="AOT">
                            </div>
                        </a>
                        <a th:href="@{/qatar?type=flight&airportCode=BKK}"
                            class="col-span-2 h-full hover:bg-pink-500 text-blue-500 hover:text-green-200 hover:rounded-lg overflow-hidden relative cursor-pointer">
                            <span class="text-[24px] font-bold text-center drop-shadow-[2px_2px_0px_#000000]">
                                QATAR Departure Flight</span>
                            <div>
                                <img class="transition-transform duration-500 hover:scale-110 w-full h-auto grayscale hover:grayscale-0"
                                    th:src="@{'/images/image_poster/6.png'}" alt="AOT">
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </div>


    </div>
</body>

</html>